/*******global styling*******/
html {
    scroll-behavior: smooth;
}
@font-face {
    font-family: 'open_sansregular';
    src:
         url(./open-sans-fontfacekit/OpenSans-Regular-webfont.woff) format('woff');
    font-weight: normal;
    font-style: normal;

}



body {
    margin: 0px;
    width: 100%;
    height: 100vh;
    background-color: #8EC5FC;
    background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
    

}


h1,
h2,
h3,
h4,
h5,
h6{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

p{
    font-family: 'open_sansregular', 'Times New Roman', Times, serif;
}
.intro {
   
    padding: 40px;
    float: left;
    position: relative;
    text-align: justify;
    margin-top: 0;
  }
  
  .intro h1 {
    font-size: 36px;
    color: #333;
    margin-bottom: 20px;
  }
  
  .intro h2 {
    font-size: 24px;
    color: #666;
  }
  
  .intro abbr {
    border-bottom: 1px dotted #666;
    cursor: help;
  }
  
  .intro header {
    margin-bottom: 40px;
  }
  
  /* styling the link buttons  */
  a{
    text-decoration: none;
    color: rgb(176, 65, 65);
    
}

aside {
    width: 40%;
    padding-left: 0.5rem;
    
    
    
    box-shadow: inset 5px 0 5px -5px #29627e;
    font-style: italic;
    color: #29627e;
}

aside > p {
    margin: 0.5rem;
}

p {
    font-family: 'Fira Sans', sans-serif;
}